body{
	background-color:rgb(239,239,239);
}
.login-div{
	border:1px solid rgb(221,221,221);
	margin:auto;
	width:20%;
	margin-top:16%;
	background-color:white;
	padding:20px 0px 20px 0px;
}

.my-font{
	font-size:25px;
	font-family:consolas;
	
}
.my-text-field{
	width:200px;
	
}
.btn-mine{
	background-color:tomato;
	border:none;
	color:white;
	width:100%;
	border-radius:3px;
	padding:5px;
	margin-top:10px;
}
.btn-mine:hover{
	background-color:red;
}
.btn-mine:active{
	background-color:green;
}
.header{
	height:40px;
	background-color:black;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	color:white;
}
.footer{
	height:40px;
	background-color:black;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	
}
.left-menu{
	width:300px;
	border:1px solid rgb(221,221,221);
	height:100%;
	top:0;
	left:0;
	position:fixed;
	padding-top:30px;
	
}
a{
	text-decoration:none;
	color:black;
	font-size:20px;
	font-family:consolas;
}
.plain-bullet{
	list-style-type:none;
}
.err-msg{
	color:red;
	font-family:verdana;
}
